:root{
    scroll-behavior: smooth;
  }

@media(max-width: 900px){
.dis-text{
    display:none;
}
}

@media(max-width: 900px){
    .power-attack{
        display:none;
    }
    }

.big{
    background-color: rgba(17, 116, 161, 0.911);
}

.please-work{
    position:absolute;
    transform: translateX(-30px) translateY(50px);
    font-family: 'Architects Daughter', cursive;
}

@media(max-width: 600px){
    .please-work{
        position: relative;
        justify-content: space-around;
    }
}
.dragon-nav{
    background-color: rgba(43, 44, 44, 0.911);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTECLYfpO8GEP2aXlQ9-MMLFaHuCHbEgMtLIA&usqp=CAU);
    background-position: cover;
    background-repeat: no-repeat;
    background-position:left;
    /* background-size:24rem; */
    /* padding-left: 4rem; */

    
}

@media(max-width: 600px){
    .dragon-nav{
        background-position: center;
    }
}

@media(max-width: 600px){
    .nav-text{
        padding-left: 4rem;
    }
}

.background-main{
    background-image: url(https://wallpapercave.com/wp/wp7112576.jpg);
    background-position: cover;
    background-position-y: 5%;
}

.banner-color{
    color: rgb(243 206 74);
}

.buy-button{
    transform: translateX(300px);
    
}

.sell{
    
    font-family: 'Bebas Neue';
    transform: translateY(-40px);
    
}

.join-button{
    transform: translateX(70px);
    
}

@media(max-width: 800px){
    .buy-button{
        transform:translateX(0);
    }
}

@media(max-width: 800px){
    .group-pic{
        max-width: 300px;
    }
}

.group-pic{
    max-width: 300px;
}

.dis-text{
    color: rgba(43, 44, 44, 0.911);
    font-family: 'Bebas Neue';
}

@media(max-width: 800px){
    .swap{
        position: center;
        padding-left: 4rem
        ;
        font-size:small
    }
}